ControlMaster auto
ControlPath   ~/.ssh/tmp/%h_%p_%r

{#
Host 10.192.11.*
  ProxyCommand ssh gateway-host nc -w 120 %h %p
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
#}

Host ansible1-syd
  HostName ansible1-syd.thepatrick.cloud
  User patrick
  ForwardAgent yes

Host argon-syd
  HostName argon-syd.thepatrick.cloud
  User patrick
  ForwardAgent yes

Host *
  ServerAliveCountMax 3
  ServerAliveInterval 60
  KeepAlive yes
