## {{ ansible_managed }}

host-record={{ encoder_orchestrator_resque_hostname }},{{ eth_local_address }}
host-record={{ encoder_orchestrator_resque_hostname }}.{{ domain }},{{ eth_local_address }}
host-record={{ encoder_orchestrator_api_hostname }},{{ eth_local_address }}
host-record={{ encoder_orchestrator_api_hostname }}.{{ domain }},{{ eth_local_address }}
